application:
  port: 8000
  host: 127.0.0.1
  base_url: "http://127.0.0.1"
  # API KEY to validate in `/auth` request.
  api_key: "test123"
  
database:
  # name of the test database, this database will be droped and created when running the tests
  # for safety, the program will panic if the database name does not contain the "TEST" string.
  test_database_name: "TEST_RUST"
  port: 3306
  username: "test"
  password: "testuserfromrustlangthatimlearning"
  database_name: "test"
  require_ssl: false
