# In Production, we will use Environment variables for all the other settings instead of reading from the .yaml file.
# see `configuration.rs::get_configuration()` for details.

application:
  host: 0.0.0.0

database:
  require_ssl: true

